html {
  background-color: black;
}

body {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 2rem;
  text-align: center;
  margin: 0px;
}

#dark-logo {
  background-color: black;
  height: 100%;
  position: absolute;
  top: 0;
  align-self: center;
  display: inherit;
}

#light-logo {
  background-color: white;
  height: 100%;
  position: absolute;
  top: 0;
  align-self: center;
  display: none;
}

.work-screenshots {
  width: 75vw;
}

#welcome-container {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-container, #work-container, #contact-container {
  background-color: white;
  padding: 10px 0px 0px 0px;
}

#contact-container {
  line-height: 2rem;
  padding-bottom: 10px;
}

h2 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 2rem;
  margin: 0;
  padding: 10px 0px;
  font-weight: bold;
}

p {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 16px 0px;
}

.about-me {
  font-size: 1.1rem;
  line-height: 1.5rem;
  width: 85vw;
  margin: 0 auto;
  text-align: justify;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 1rem;
}

a:hover {
  color: rgb(1, 200, 27);
}

.link-icons {
  height: 25px;
  width: auto;
  padding-right: 10px;
}

.contact-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

#footer {
  background-color: black;
  color: white;
  font-family: 'Ubuntu Mono';
  font-size: 1rem;
  padding: 1rem;
}

@media screen and (min-width: 768px) {

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  a {
    font-size: 1.5rem;
  }

  .about-me {
    font-size: 1.5rem;
    line-height: 2rem;
  }

}

@media screen and (min-width: 1024px) {

  h2 {
    font-size: 2.5rem;
    padding: 40px 0px 30px 0px;
  }

  a {
    font-size: 1.8rem;
  }

  .about-me {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .contact-links {
    padding-bottom: 20px;
  }

  #footer {
    font-size: 1.2rem;
  }

}
